# THIS SETUP USES THE .ENV FILE TO PROVIDE ENVIRONMENT
# VARIABLES THAT YOU NEED TO PROVIDE THAT SHOULD NOT LIVE
# IN THE DOCKER-COMPOSE.YML FILE.

# COPY THIS FILE TO A .env FILE
# cp exmaple.env .env

# THEN, PUT THE VALUES THAT YOU WANT IN THE .ENV FILE,
# **NOT** THIS ONE

OPEN_WEATHER_API_KEY=cd8b3e8d655985ddb0be641b9fe83ce2
PEXELS_API_KEY=563492ad6f9170000100000102a61ebf197c427da00c29f46cbdf7f9
